* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font Section Main */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
.EB-Garamond-Font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* Font section other */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #817e7e;
  font-size: 0.75rem;
}
/* Navbar section */
.navbar {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
}
.nav-start {
  height: 100px;
  align-items: center;
  align-content: center;
  font-size: 2rem;
}
.nav-start img {
  width: 40px;
  height: 30px;
  color: #b68c5a;
}
.nav-home {
  display: flex;
  gap: 20px;
  font-size: 0.8rem;
  text-align: center;
  color: #1d1c1c;
}
.nav-home img {
  width: 10px;
  height: 10px;
}
.nav-free {
  width: 150px;
  background-color: #b68c5a;
  height: 40px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  border-radius: 8px;
  justify-items: center;
  align-content: center;
  box-shadow: 1px 1px 2px 2px rgb(193, 173, 158);
}
.nav-free:hover {
  background-color: #c68e49;
  font-size: 0.93rem;
}
/* Banner section */
main {
  background-image: url(images/banner.png);
  /* background: url(images/Rectangle\ 5.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 350px;
  border-radius: 10px;
  justify-self: center;
  margin: 20px 0;
}
.banner {
  width: 60%;
  height: 100%;
  justify-self: center;
  align-content: center;
  text-align: center;
}
.banner-title {
  font-size: 3rem;
  color: white;
  /* padding: 10px 10px; */
}
.banner-text {
  margin: 15px 0;
  font-size: 0.8rem;
}
.banner-box {
  display: flex;
  /* border: 1px solid saddlebrown; */
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}
.service {
  width: 80%;
  height: 40px;
  color: #8f8d8d;
  background-color: white;
  text-align: start;
  align-content: center;
  border-radius: 8px;
  font-size: 0.8rem;
  padding-left: 10px;
}
.service:hover {
  background-color: #f2efec;
  font-size: 0.81rem;
}
.search {
  width: 30%;
  height: 40px;
  background-color: #b68c5a;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 8px;
  font-size: 0.8rem;
}
.search:hover {
  background-color: #c68e49;
  font-size: 0.82rem;
}
/* The Legal Practice Area section */
.legal {
  width: 90%;
  justify-self: center;
}
.legal-intro {
  width: 60%;
  justify-self: center;
  text-align: center;
  padding: 10px 0;
}
.legal-intro-title {
  font-size: 1.8rem;
}
.legal-intro-p {
  font-size: 0.8rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}
.card-1 {
  border: 0.5px solid #e7e7e7;
  padding: 20px 0;
  text-align: center;
  border-radius: 2px;
}
.card-1:hover {
  background-color: #f5f4ee;
}
.card-1-title {
  font-size: 1.5rem;
  color: #414040;
  padding: 10px 5px;
}
.card-1-info {
  font-size: 0.8rem;
  color: #707070;
  padding: 10px 5px;
}
.card-1-main img {
  width: 45px;
}
.card-1-icon img {
  width: 30px;
}
/* What Our Client Say section */
.client {
  text-align: center;
  width: 85%;
  height: 450px;
  justify-self: center;
}
.client-intro {
  width: 100%;
  height: 150px;
  justify-self: center;
  align-content: center;
  padding: 15px 30px;
}
.client-title {
  font-size: 2rem;
  color: #414040;
}
.designer {
  text-align: center;
  background-image: url(images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  border-radius: 5px;
  justify-self: center;
  align-content: center;
}
.aero {
  display: flex;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}
.designer-title {
  justify-self: center;
}
.designer-title span {
  font-size: 2rem;
  color: white;
}
.designer-title p {
  color: white;
}
.designer-info {
  color: rgb(201, 197, 197);
  width: 90%;
  justify-self: center;
}
.design-buttom {
  color: white;
  display: flex;
  gap: 5px;
  justify-self: center;
}
.buttom {
  color: #b6aeae;
}
/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Navbar section */
  .navbar {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    padding: 10px;
  }
  .nav-start {
    height: 30px;
    font-size: 1.2rem;
  }
  .nav-start img {
    width: 20px;
    height: 20px;
  }
  .nav-home {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-size: 0.4rem;
    color: #3b3939;
  }
  .nav-home img {
    width: 10px;
    height: 5px;
  }
  .nav-free {
    width: 100px;
    height: 20px;
    font-size: 0.6rem;
  }
  .nav-free:hover {
    font-size: 0.62rem;
  }
  /* Banner section */
  main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 200px;
    justify-self: center;
    margin: 20px 0;
  }
  .banner {
    width: 75%;
    height: 100%;
  }
  .banner-title {
    font-size: 1.2rem;
  }
  .banner-text {
    margin: 5px 0;
    font-size: 0.5rem;
    color: #c0bdbd;
  }
  .banner-box {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    gap: 8px;
  }
  .service {
    width: 80%;
    height: 30px;
    text-align: start;
    align-content: center;
    font-size: 0.6rem;
    padding-left: 8px;
    color: #434040;
  }
  .service:hover {
    font-size: 0.62rem;
  }
  .search {
    width: 30%;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 0.6rem;
    color: #ffffff;
  }
  .search:hover {
    font-size: 0.62rem;
  }
  /* The Legal Practice Area section */
  .legal {
    width: 90%;
    justify-self: center;
  }
  .legal-intro {
    padding: 8px 0;
  }
  .legal-intro-title {
    font-size: 1.2rem;
  }
  .legal-intro-p {
    font-size: 0.6rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .card-1 {
    padding: 20px 0;
    text-align: center;
    border-radius: 2px;
  }
  .card-1-title {
    font-size: 1.2rem;
  }
  .card-1-info {
    font-size: 0.6rem;
  }
  .card-1-main img {
    width: 30px;
  }
  .card-1-icon img {
    width: 20px;
  }
}
