* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font Section Main */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
.EB-Garamond-Font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* Font section other */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #817e7e;
  font-size: 0.75rem;
}
/* Navbar section */
.navbar {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
}
.nav-start {
  height: 100px;
  align-items: center;
  align-content: center;
  font-size: 2rem;
}
.nav-start img {
  width: 20%;
  color: #b68c5a;
}
.nav-home {
  display: flex;
  gap: 20px;
  font-size: 0.8rem;
  text-align: center;
  color: #1d1c1c;
}
.nav-home img {
  width: 10px;
  height: 10px;
}
.nav-free {
  width: 150px;
  background-color: #b68c5a;
  height: 40px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  border-radius: 8px;
  justify-items: center;
  align-content: center;
  box-shadow: 1px 1px 2px 2px rgb(193, 173, 158);
}
.nav-free:hover {
  background-color: #c68e49;
  transition: 2ms;
  transform: scale(1.01);
}
/* Banner section */
main {
  background-image: url(images/banner.png);
  /* background: url(images/Rectangle\ 5.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 350px;
  border-radius: 10px;
  justify-self: center;
  margin: 20px 0;
}
.banner {
  width: 60%;
  height: 100%;
  justify-self: center;
  align-content: center;
  text-align: center;
}
.banner-title {
  font-size: 3rem;
  color: white;
  /* padding: 10px 10px; */
}
.banner-text {
  margin: 15px 0;
  font-size: 0.8rem;
}
.banner-box {
  display: flex;
  /* border: 1px solid saddlebrown; */
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}
.service {
  width: 80%;
  height: 40px;
  color: #8f8d8d;
  background-color: white;
  text-align: start;
  align-content: center;
  border-radius: 8px;
  font-size: 0.8rem;
  padding-left: 10px;
}
.service:hover {
  transition: 2ms;
  transform: scale(1.01);
}
.search {
  width: 30%;
  height: 40px;
  background-color: #b68c5a;
  text-align: center;
  align-content: center;
  color: white;
  border-radius: 8px;
  font-size: 0.8rem;
}
.search:hover {
  transition: 2ms;
  transform: scale(1.01);
}
/* The Legal Practice Area section */
.legal {
  width: 90%;
  justify-self: center;
}
.legal-intro {
  width: 60%;
  justify-self: center;
  text-align: center;
  padding: 10px 0;
}
.legal-intro-title {
  font-size: 1.8rem;
}
.legal-intro-p {
  font-size: 0.8rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}
.card-1 {
  border: 0.5px solid #e7e7e7;
  padding: 20px 0;
  text-align: center;
  border-radius: 2px;
}
.card-1:hover {
  background-color: #f5f4ee;
  transition: 2ms;
  transform: scale(1.01);
}
.card-1-title {
  font-size: 1.5rem;
  color: #414040;
  padding: 10px 5px;
}
.card-1-info {
  font-size: 0.8rem;
  color: #707070;
  padding: 10px 5px;
}
.card-1-main img {
  width: 45px;
}
.card-1-icon img {
  width: 30px;
}
/* What Our Client Say section */
.client {
  text-align: center;
  width: 85%;
  height: 450px;
  justify-self: center;
}
.client-intro {
  width: 100%;
  height: 150px;
  justify-self: center;
  align-content: center;
  padding: 15px 30px;
}
.client-title {
  font-size: 2rem;
  color: #414040;
}
.designer {
  text-align: center;
  background-image: url(images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  border-radius: 5px;
  justify-self: center;
  align-content: center;
}
.aero {
  display: flex;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}
.designer-title {
  justify-self: center;
}
.designer-title span {
  font-size: 2rem;
  color: white;
}
.designer-title p {
  color: white;
}
.designer-info {
  color: rgb(201, 197, 197);
  width: 90%;
  justify-self: center;
}
.design-buttom {
  color: white;
  display: flex;
  gap: 5px;
  justify-self: center;
}
.buttom {
  color: #b6aeae;
}
/* Frequently asked question section */
.Frequently {
  width: 85%;
  height: 100%;
  margin-top: 100px;
  justify-self: center;
}
.Frequently-title {
  width: 70%;
  height: 150px;
  justify-self: center;
  text-align: center;
  align-content: center;
}
.Frequently-title span {
  font-size: 2em;
  color: #414040;
}
.Frequently-title p {
  font-size: 0.8em;
  padding-top: 20px;
}
.Question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Box {
  width: 90%;
  height: 110px;
  padding-left: 20px;
  align-content: center;
  background-color: #f3f3f3;
  border-radius: 8px;
}
.Box span {
  color: #414040;
  font-size: 1em;
}
.Box:hover {
  transition: 2ms;
  transform: scale(1.02);
  background-color: #dfdddd;
}
.box-2 {
  height: 60px;
  padding-left: 20px;
}
.Question-Image {
  display: flex;
  gap: 0px;
}

.Question-Image img {
  width: 100%;
}
/* Contact section */
.Contact {
  width: 85%;
  margin: 70px 0;
  justify-self: center;
}
.Contact-title {
  width: 60%;
  height: 120px;
  padding-bottom: 30px;
  justify-self: center;
  text-align: center;
  align-content: center;
}
.Contact-title span {
  font-size: 2em;
}
.Contact-title p {
  font-size: 0.9em;
  color: #707070;
}
.Boxs {
  display: flex;
  gap: 10px;
}
.Square {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.square-box {
  width: 185px;
  height: 150px;
  align-items: center;
  text-align: center;
  align-content: center;
  background-color: #f3f3f3;
  border: 0.5px solid #cfcfcf;
}
.square-box img {
  width: 13%;
}
.square-box:hover {
  transition: 2ms;
  border-radius: 5px;
  transform: scale(1.01);
  background-color: #fbfafa;
}
.input-box {
  width: 50%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.box-1 {
  padding-left: 10px;
  align-content: center;
  border-radius: 8px;
  background-color: #f3f3f3;
}
.box-4 {
  grid-row: span 2;
  align-content: flex-start;
  padding-top: 15px;
}
.box-5 {
  text-align: center;
  color: white;
  background-color: #b68c5a;
}
.box-1:hover {
  transition: 2ms;
  transform: scale(1.01);
}
/* Footer section */
footer {
  background-color: black;
  color: white;
}
.Footer {
  display: flex;
  width: 90%;
  padding: 30px 0;
  justify-self: center;
}
.justice {
  width: 25%;
  padding: 10px;
}
.justice img {
  width: 15%;
}
.justice span {
  font-size: 1.5em;
}
.links {
  width: 15%;
  padding: 10px;
}
.links span {
  font-size: 1.2em;
}
.contact-now {
  width: 25%;
  padding: 10px;
}
.subscribe {
  width: 30%;
  padding: 10px;
}
.subscribe span {
  font-size: 1.2em;
}
.sub-links {
  display: flex;
  height: 40px;
}
.sub-links span {
  font-size: 0.8em;
}
.sub-email {
  width: 80%;
  align-content: center;
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}
.sub-img {
  width: 20%;
  align-content: center;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #b68c5a;
}
.sub-img img {
  width: 20px;
}
.sub-links:hover {
  transition: 2ms;
  transform: scale(1.01);
}
/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Navbar section */
  .navbar {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    padding: 10px;
  }
  .nav-start {
    height: 30px;
    font-size: 1.2rem;
  }
  .nav-start img {
    width: 20px;
    height: 20px;
  }
  .nav-home {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-size: 0.4rem;
    color: #3b3939;
  }
  .nav-home img {
    width: 10px;
    height: 5px;
  }
  .nav-free {
    width: 100px;
    height: 20px;
    font-size: 0.6rem;
  }
  /* Banner section */
  main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 200px;
    justify-self: center;
    margin: 20px 0;
  }
  .banner {
    width: 75%;
    height: 100%;
  }
  .banner-title {
    font-size: 1.2rem;
  }
  .banner-text {
    margin: 5px 0;
    font-size: 0.5rem;
    color: #c0bdbd;
  }
  .banner-box {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    gap: 8px;
  }
  .service {
    width: 80%;
    height: 30px;
    text-align: start;
    align-content: center;
    font-size: 0.6rem;
    padding-left: 8px;
    color: #434040;
  }
  .search {
    width: 30%;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 0.6rem;
    color: #ffffff;
  }
  /* The Legal Practice Area section */
  .legal {
    width: 90%;
    justify-self: center;
  }
  .legal-intro {
    padding: 8px 0;
  }
  .legal-intro-title {
    font-size: 1.2rem;
  }
  .legal-intro-p {
    font-size: 0.6rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .card-1 {
    padding: 20px 0;
    text-align: center;
    border-radius: 2px;
  }
  .card-1-title {
    font-size: 1.2rem;
  }
  .card-1-info {
    font-size: 0.6rem;
  }
  .card-1-main img {
    width: 30px;
  }
  .card-1-icon img {
    width: 20px;
  }
  /* What Our Client Say section */
  .client {
    text-align: center;
    width: 85%;
    height: 450px;
    justify-self: center;
  }
  .client-intro {
    width: 100%;
    height: 120px;
  }
  .client-title {
    font-size: 1.5rem;
  }
  .client-description {
    font-size: 0.6rem;
  }
  .designer {
    text-align: center;
    width: 100%;
    height: 250px;
    padding: 10px;
    justify-self: center;
    align-content: center;
  }
  .designer-image img {
    width: 15%;
  }
  .designer-title {
    justify-self: center;
  }
  .designer-title span {
    font-size: 1.5rem;
  }
  .designer-title p {
    font-size: 0.8rem;
  }
  .aero {
    padding: 0;
  }
  .designer-info {
    width: 80%;
    font-size: 0.6rem;
    justify-self: center;
  }
  .design-buttom {
    display: flex;
    justify-self: center;
  }
  /* Frequently asked question section */
  .Frequently {
    width: 90%;
    height: 100%;
    margin-top: 0px;
    justify-self: center;
  }
  .Frequently-title {
    width: 70%;
    height: 150px;
    justify-self: center;
    text-align: center;
    align-content: center;
  }
  .Frequently-title span {
    font-size: 1.5em;
  }
  .Frequently-title p {
    font-size: 0.7em;
    padding-top: 10px;
  }
  .Question {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
  }
  .Box {
    width: 90%;
    height: 100px;
    padding: 10px;
    text-align: center;
  }
  .Box span {
    font-size: 0.8em;
  }
  .box-1-p {
    font-size: 0.5em;
  }
  .box-2 {
    height: 60px;
    padding-left: 20px;
  }
  .Question-Image {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    width: 90%;
    align-items: center;
    justify-self: center;
  }
  .Question-Image img {
    width: 60%;
  }
  /* Contact section */
  .Contact {
    width: 85%;
    margin: 50px 0;
    justify-self: center;
  }
  .Contact-title {
    width: 60%;
    height: 120px;
    padding-bottom: 30px;
    justify-self: center;
    text-align: center;
    align-content: center;
  }
  .Contact-title span {
    font-size: 1.5em;
  }
  .Contact-title p {
    font-size: 0.6em;
  }
  .Boxs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .Square {
    width: 90%;
    align-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .square-box {
    width: 100%;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  .input-box {
    width: 80%;
    height: 250px;
    margin-top: 30px;
    gap: 10px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .box-1 {
    align-content: center;
  }
  .box-4 {
    grid-row: span 2;
    align-content: flex-start;
    padding-top: 15px;
  }
}
