* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font Section Main */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
.EB-Garamond-Font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* Font section other */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #707070;
}
/* Navbar section */
.navbar {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
}
.nav-start {
  height: 100px;
  align-items: center;
  align-content: center;
  font-size: 2rem;
}
.nav-start img {
  width: 40px;
  height: 30px;
  color: #b68c5a;
}
.nav-home {
  display: flex;
  gap: 30px;
  font-size: 0.8rem;
  text-align: center;
}
.nav-home img {
  width: 10px;
  height: 10px;
}
.nav-free {
  width: 150px;
  background-color: #b68c5a;
  height: 40px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  border-radius: 8px;
  justify-items: center;
  align-content: center;
  box-shadow: 1px 1px 2px 2px rgb(193, 173, 158);
}
.nav-free:hover {
  background-color: #c68e49;
  font-size: 0.93rem;
}

/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  /* Navbar section */
  .navbar {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    padding: 10px;
  }
  .nav-start {
    height: 30px;
    font-size: 1.2rem;
  }
  .nav-start img {
    width: 20px;
    height: 20px;
  }
  .nav-home {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-size: 0.4rem;
  }
  .nav-home img {
    width: 10px;
    height: 5px;
  }
  .nav-free {
    width: 100px;
    height: 20px;
    font-size: 0.6rem;

  }

}
